<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>

    <h2>Medical Report</h2>

    <p>Email: {{ email }}</p>
    <h3>Movement Data</h3>
    <p>Sit-To-Stand: {{ s2s }}</p>
    <p>Hip Abduction: {{ hip_abduct }}</p>
    <p>Cervical Rotation: {{ cerv_rot }}</p>
    <p>Global Lumbar Flexion: {{ lumbar_flex }}</p>
    <p>Hip Internal Rotation: {{ hip_rot }}</p>
    <p>Shoulder Flexion: {{ shoulder_flex }}</p>
    <p>Lumbar Side Flexion: {{ lumbar_flex }}</p>
    <p>Tragus: {{ tragus }}</p>

</body>
</html>